<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarifas</title>
    <link rel="stylesheet" href="/styles/pricing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>

    <div class="wrapper">
        <div class="card">
            <h3>Plan MLS/Franquicia</h3>
            <h1>Precio Personalizado</h1>
            <p>¡Únete a la red de MLS y Franquicias con IA GESTION!</p>
            
            <a href="">Solicitar Presupuesto</a>

        </div>

        <div class="card active">
            <h3>Plan Estándar</h3>
            <h1>77€ + IVA <span>/Mes</span></h1>
            <p>Oferta Especial por Contratación Anual: ¡Ahorra un 15%!</p>
            <ul>
                <li><i class="fa-regular fa-circle-check"></i> All limited links</li>
                <li><i class="fa-regular fa-circle-check"></i> Own Analytics Platform</li>
                <li><i class="fa-regular fa-circle-check"></i> Chat Support</li>
                <li><i class="fa-regular fa-circle-check"></i> Optimize Hashtags</li>
                <li><i class="fa-regular fa-circle-check"></i> Unlimited Users</li>
            </ul>
            <a href="">Elegir Plan</a>

        </div>


        <div class="card">
            <h3>Plan Personalizado</h3>
            <h1>Precio Personalizado</h1>
            <p>¿Buscas algo a medida para tu negocio inmobiliario?</p>
            
            <a href="">Solicitar Presupuesto</a>

        </div>

    </div>
    
</body>
</html>