@font-face 
{
  font-family: 'TiltNeon';
  src: url(fonts/static/TiltNeon-Regular.ttf);
}

:root 
{
  --color-white: #e9e9e9;
  --color-black: #2B2B2A;
  --color-primary: #269DD9;
  --color-secondary: #9E9E9E;
  --color-tertiary: #C8C7C7;
}

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body 
{
  font-family: 'TiltNeon', sans-serif;
  background-color: var(--color-secondary);
}

/* Header */

header 
{
  font-weight: bold;
  position: sticky;
  width: 100%;
}

p 
{
  padding-top: 1.25rem;
  color: var(--color-secondary);
}

.logo 
{
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
}

.logo img 
{
  height: 150%;
  width: auto;
}

.menu-bar 
{
  background-color: var(--color-white);
  color: var(--color-primary);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  position: relative;
}

.menu-bar ul 
{
  list-style: none;
  display: flex;
}

.menu-bar ul li 
{
  padding: 0.625rem 1.875rem;
  position: relative;
}

.menu-bar ul li a 
{
  font-size: 1.25rem;
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.3s;
}

.menu-bar ul li a:hover 
{
  color: var(--color-secondary);
}

.fas 
{
  float: right;
  margin-left: 0.625rem;
  padding-top: 0.1875rem;
}

.dropdown-menu 
{
  display: none;
  overflow: hidden;
  padding: 1.25rem;
}

.menu-bar ul li img 
{
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.dropdown-menu ul li 
{
  position: relative;
}

.dropdown-menu ul li img 
{
  position: absolute;
  left: -1.25rem;
  top: 50%;
  transform: translateY(-50%);
}

.menu-bar ul li:hover .dropdown-menu 
{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-white);
}

.menu-bar ul li:hover .dropdown-menu ul 
{
  display: block;
  margin: 0.625rem;
}

.menu-bar ul li:hover .dropdown-menu ul li 
{
  width: 28.125rem;
  padding: 0.650rem;
  color: var(--color-bg-3);
}

.contact-button 
{
  background-color: var(--color-tertiary);
  padding: 0.625rem 1.25rem;
  border-radius: 1.25rem;
}

.menu-bar ul li .contact-button:hover 
{
  background-color: var(--color-primary);
  color: var(--color-white);
}

.dropdown-menu-1 
{
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 
{
  display: block;
  position: absolute;
  left: 9.375rem;
  top: 0;
  background-color: var(--color-black);
}

.dropdown-left 
{
  float: left;
  width: 50%;
  padding: 1.25rem;
  box-sizing: border-box;
}

.dropdown-right 
{
  float: right;
  width: 50%;
  padding: 1.25rem;
  box-sizing: border-box;
}

.dropdown-menu::after 
{
  content: "";
  display: table;
  clear: both;
}

/* Main */	

.hero 
{
  background-image: url('ruta/a/tu/imagen.jpg');
  background-size: cover;
  background-position: center;
  height: 58vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content 
{
  justify-content: center;
}

.titulo 
{
  font-size: 3rem;
  margin-bottom: 0.75rem;
  background: linear-gradient(to right, var(--color-white) 0%, var(--color-primary) 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.herop 
{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2.25rem;
  color: var(--color-white);
}

.cta 
{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 1s ease;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cta:hover 
{
  background-color: var(--color-white);
  color: var(--color-primary);
}

/* Footer */

footer 
{
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-content 
{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10%;
}

.footer-column 
{
  flex: 1;
  text-align: center;
}

.footer-column h3 
{
  margin-bottom: 1rem;
}

.footer-column ul 
{
  list-style: none;
  padding: 0;
}

.footer-column ul li 
{
  margin-bottom: 0.5rem;
}

.footer-column ul li a 
{
  color: var(--color-white);
  text-decoration: none;
}

.footer-column ul li a:hover 
{
  color: var(--color-secondary);
}

.footer-column p 
{
  margin-bottom: 0.5rem;
}

.footer-column p 
{
 color: var(--color-white);
}








